<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Welcome to Hi Mama App</h1>
    <h2>
        Let's sign up to continue.
    </h2>
    <h2> <%= link_to "Sign up now!", new_teacher_registration_path, class: "btn btn-lg btn-primary" %>
     <%= link_to "Log In!", new_teacher_session_path, class: "btn btn-lg btn-primary" %></h2>

  </div>
</div>

